# Python's precompiled files
*.pyc
*.pyo

# Spyder files
.spyder*

# backup files
*~

# data
*.zip
*.data
*.sql
*.dat
data/

# Delivrables
results/
*.pdf
*.docx

# linux hidden files
.*
!.gitignore

# Confidential informations
db_credentials.json