# Python's precompiled files
*.pyc
*.pyo

# Spyder files
.spyder*

# backup files
*~

# data
*.zip
*.data
*.sql
data/

# linux hidden files
.*
!.gitignore

# Confidential informations
db_credentials.json